[submodule "fzf-obc"]
	path = fzf-obc
	url = git@github.com:rockandska/fzf-obc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:gdelanoy/oh-my-zsh.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:gdelanoy/fzf.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = git@github.com:gdelanoy/spaceship-prompt.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git@github.com:gdelanoy/oh-my-fish.git
[submodule "oh-my-bash"]
	path = oh-my-bash
	url = git@github.com:gdelanoy/oh-my-bash.git
[submodule "oh-my-git"]
	path = oh-my-git
	url = git@github.com:gdelanoy/oh-my-git.git
